<section class="phones">
  <table mat-table #table [dataSource]="dataSource" class="table" matSort matSortActive="vendor" matSortDirection='asc'>
    <!--- Note that these columns can be defined in any order.
		  The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </th>
      <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
</section>

